{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<br>
    <div class = ""></div>
    {% if not pair %}
    <div class="alert alert-primary" role="alert">
        Thank you for signing up for the event. The Organizers will start the pairing of the teams soon. Afterwards you will be able to see your personal schedule for the event.
    </div>
    {% endif %}
    <div class = "container card your-team-box mb-3">
        <div class = "card-body">
            <h5>Your Team: {{ team.name }}</h5>
            <p class="card-text">Members: {{ team.team_member_1 }}, {{ team.team_member_2 }}</p>
        </div>
    </div>

  {% if pair %}
    <div class="row g-3"> <!-- Added g-3 class for spacing -->
    {% for p in pair %}
        <div class="col-md-4 d-flex align-items-stretch"> <!-- Added flex utilities -->
            <div class="card course mb-3 w-100"> <!-- Added w-100 for full width -->
                <div class="card-body d-flex flex-column"> <!-- Flex column for internal spacing -->
                    <h5 class="card-title">{{ p.get_course_display }}</h5>
                    {% if p.cook == team %}
                        <p class="card-text warning small"><i class="bi bi-egg-fried"></i> <strong>You are cooking this course!</strong></p>
                        <p class="card-text alert small">
                            {% if p.cook.is_vegan or p.guest_1.is_vegan or p.guest_2.is_vegan %}<i class="bi bi-leaf"></i> Vegan -{% endif %}
                            {% if p.cook.is_vegetarian or p.guest_1.is_vegetarian or p.guest_2.is_vegetarian %}<i class="bi bi-carrot"></i> Vegetarian -{% endif %}
                            {% if p.cook.is_halal or p.guest_1.is_halal or p.guest_2.is_halal %}<i class="bi bi-moon-stars"></i> Halal -{% endif %}
                            {% if p.cook.is_kosher or p.guest_1.is_kosher or p.guest_2.is_kosher %}<i class="bi bi-star"></i> Kosher -{% endif %}
                             Allergies:
                            {% if p.guest_1.allergies != "" and p.guest_2.allergies != "" %}
                                {{ p.guest_1.allergies }} | {{ p.guest_2.allergies }}
                            {% else %}
                                {{ p.guest_1.allergies }}{{ p.guest_2.allergies }}
                            {% endif %}
                            {% if p.guest_1.allergies == "" and p.guest_2.allergies == "" %}
                            No Allergies.
                            {% endif %}
                        </p>
                    {% endif %}
                    <div> <!-- Pushes content to the bottom -->
                        {% if p.cook == team %}
                            <div class="item">
                                <p><i class="bi bi-people"></i> Guests:</p>
                            </div>
                            <div class="item mb-3">
                                <div class="container card1">
                                    <div class="item dark1">
                                        <h5><i class="bi bi-person"></i> Team {{ p.guest_1.name }}</h5>
                                    </div>
                                    <div class="item">
                                        <p>{{ p.guest_1.user.email }}</p>
                                    </div>
                                </div>
                                <div class="container card1">
                                    <div class="item dark1">
                                        <h5><i class="bi bi-person"></i> Team {{ p.guest_2.name }}</h5>
                                    </div>
                                    <div class="item">
                                        <p>{{ p.guest_2.user.email }}</p>
                                    </div>
                                </div>
                            </div>
                        {% else %}
                            <div class="item">
                                <p><i class="bi bi-house"></i> Host: Team {{ p.cook.name }}</p>
                            </div>
                            <div class="item">
                                <p><i class="bi bi-envelope"></i> {{ p.cook.user.email }}</p>
                            </div>
                            <div class="item">
                                <p><i class="bi bi-geo-alt"></i> Location: {{ p.cook.street }} {{ p.cook.number }}, {{ p.cook.city }}<br>{{ p.cook.address_addition }}</p>
                            </div>
                        {% endif %}
                    </div>
                    <div class="mt-auto"></div>
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
{% endif %}




    <script src="{% static 'map/apikey.js' %}"></script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="{% static 'map/leaflet/leaflet.css' %}"/>
    <script src="{% static 'map/leaflet/leaflet.js' %}"></script>
    <link rel="stylesheet" href="{% static 'map/map.css' %}"/>
    <link rel="stylesheet" href="{% static 'style.css' %}"/>
    <!-- Leaflet Routing Machine -->
    <link rel="stylesheet" href="{% static 'map/leaflet-routing/dist/leaflet-routing-machine.css' %}"/>
    <script src="{% static 'map/leaflet-routing/dist/leaflet-routing-machine.js' %}"></script>
    <script src="{% static 'map/lrm-graphhopper.js' %}"></script>

    <!-- Map -->
    <div id="map{{p.course}}"></div>
    <script> var disable_routing = true; var destination = [{{ event.lat }}, {{ event.lon }}] ;</script>
    <script>
        var markers = [[{{ team.lat }}, {{ team.lon }}], [{{ pair.first.guest_1.lat }}, {{ pair.first.guest_1.lon }}], [{{ pair.first.guest_2.lat }}, {{ pair.first.guest_2.lon }}]];
        console.log(markers);
    </script>
    <script src="{% static 'map/map.js' %}"></script>

{% endblock %}
