{% extends "base.html" %}
{% load bootstrap5 %}
{% load static %}
{% block content %}
<br>
    <div class = ""></div>
    {% if not pair %}
    <div class="alert alert-primary" role="alert">
        Thank you for signing up for the event. The Organizers will start the pairing of the teams soon. Afterwards you will be able to see your personal schedule for the event.
    </div>
    {% endif %}
    <div class = "container card your-team-box">
        <div class = "item dark your-team">
            <h1>Your Team:<br>{{ team.name }}</h1>
        </div>
        <div class = "item your-team">
            <p></p>
            <p>{{ team.team_member_1 }}, {{ team.team_member_2 }}</p>
        </div>
    </div>

    {% if pair %}
        {% for p in pair %}
            <div class = "container card course">
                <div class = "item">
                    <h1 class = "">{{ p.get_course_display }}</h1>
                    {% if p.cook == team %}
                        <p class="warning small">You are cooking this course!</p>
                        <p class = "alert small">
                            (
                            {% if p.cook.is_vegan or p.guest_1.is_vegan or p.guest_2.is_vegan%}Vegan -{% endif %}
                            {% if p.cook.is_vegetarian or p.guest_1.is_vegetarian or p.guest_2.is_vegetarian%}Vegetarian -{% endif %}
                            {% if p.cook.is_halal or p.guest_1.is_halal or p.guest_2.is_halal%}Halal -{% endif %}
                            {% if p.cook.is_kosher or p.guest_1.is_kosher or p.guest_2.is_kosher%}Kosher -{% endif %}
                            Allergies: None) <!-- TODO: Allergies-->
                        </p>
                    {% endif %}
                </div>
                <div class = "item">
                    <p>Guests:</p>
                </div>
                <div class = "item">
                    <div class = "container card1">
                        <div class = "item dark1">
                            <h1>Team {{ p.guest_1.name }}</h1>
                        </div>
                        <div class = "item">
                            <p>{{ p.guest_1.user.email }}</p>
                        </div>
                    </div>
                    <div class = "container card1">
                        <div class = "item dark1">
                            <h1>Team {{ p.guest_2.name }}</h1>
                        </div>
                        <div class = "item">
                            <p>{{ p.guest_2.user.email }}</p>
                        </div>
                    </div>
                </div>
                <p></p> 
                <div class = "item">
                    <p>Location: {{ p.cook.street }} {{ p.cook.number }}, {{ p.cook.city }}<br>{{ p.cook.address_addition }}</p>
                </div>

                <p></p>
            </div>
        {% endfor %}
            
    {% endif %}

    <script src="{% static 'map/apikey.js' %}"></script>
    <!-- Leaflet -->
    <link rel="stylesheet" href="{% static 'map/leaflet/leaflet.css' %}"/>
    <script src="{% static 'map/leaflet/leaflet.js' %}"></script>
    <link rel="stylesheet" href="{% static 'map/map.css' %}"/>
    <!-- Leaflet Routing Machine -->
    <link rel="stylesheet" href="{% static 'map/leaflet-routing/dist/leaflet-routing-machine.css' %}"/>
    <script src="{% static 'map/leaflet-routing/dist/leaflet-routing-machine.js' %}"></script>
    <script src="{% static 'map/lrm-graphhopper.js' %}"></script>

    <!-- Map -->
    <div id="map{{p.course}}"></div>
    <script> var disable_routing = true; var i = 0;</script>
    <script> var destination = [{{ event.lat }}, {{ event.lon }}] ;</script>
    <script src="{% static 'map/map.js' %}"></script>

{% endblock %}
