{% extends "base.html" %}
{% block content %}
{% load bootstrap5 %}

    <h1>{{ event.title }}</h1>
    <p><strong>Type:</strong> {{ event.get_event_type_display }}</p>
    <p><strong>Start Time:</strong> {{ event.start_time|date:"DATETIME_FORMAT" }}</p>
    <p><strong>Duration:</strong> {{ event.duration }}</p>
    <p><strong>Timezone:</strong> {{ event.timezone }}</p>
    <p><strong>Description:</strong> {{ event.description }}</p>
    <p><strong>Location:</strong> {{ event.location }}</p>
    <p><strong>Organizer:</strong> {{ event.organizer }}</p>
    <p><strong>Participants:</strong> {{ event.participants.count }} / {{ event.max_participants }}</p>
    <p><strong>Status:</strong> {{ event.status }}</p>

    {% if event.event_type == 'KITCHENRUN' %}
        <br>
        {% include 'kitchenrun/event.html' %}
        <br>
    {% endif %}

    <!-- Registration Button (if applicable) -->
    {% if request.user.is_authenticated and event.can_add_participant %}
        {% if request.user in event.participants.all %}
            <a href="{% url 'deregister_for_event' event.id %}" class="btn btn-warning">Deregeister for event</a>
        {% else %}
            <a href="{% url 'register_for_event' event.id %}" class="btn btn-primary">Register for event</a>
        {% endif %}
    {% elif event.can_add_participant %}
       To register for the event <a href="/signup/">Signup</a> or <a href="/login/">Login</a>!

    {% endif %}

    <!-- List of Participants -->
    {% if request.user == event.owner or request.user.is_staff %}
    <br><br>
    <h2>Admin Section</h2>
    <h3>Participants</h3>
    <ul>
        {% for participant in event.participants.all %}
            <li>{{ participant.username }}</li>
        {% empty %}
            <li>No participants yet.</li>
        {% endfor %}
    </ul>

    <h3>Actions</h3>
    <a href="{% url 'event_edit' event.id %}" class="btn btn-primary">Edit</a>
    <a href="{% url 'event_delete' event.id %}" class="btn btn-warning">Delete</a>



    {% endif %}
{% endblock %}

